<c-row ngPreserveWhitespaces class="justify-content-center mb-3">
  <c-col xs="2">
    <select class="form-control" [(ngModel)]="inputField1">
      <option value="" disabled selected>Loại HTML</option>
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
      <option value="option3">Option 3</option>
    </select>
  </c-col>

  <c-col xs="2">
    <select class="form-control" [(ngModel)]="inputField2">
      <option value="" disabled selected>Đối tượng HTML</option>
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
      <option value="option3">Option 3</option>
    </select>
  </c-col>

  <c-col xs="2">
    <select class="form-control" [(ngModel)]="inputField3">
      <option value="" disabled selected>Đối tượng ảnh chụp</option>
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
      <option value="option3">Option 3</option>
    </select>
  </c-col>

  <c-col xs="2">
    <select class="form-control" [(ngModel)]="inputField4">
      <option value="" disabled selected>Đầu việc</option>
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
      <option value="option3">Option 3</option>
    </select>
  </c-col>

  <c-col xs="2">
    <select class="form-control" [(ngModel)]="inputField5">
      <option value="" disabled selected>Mã trạm</option>
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
      <option value="option3">Option 3</option>
    </select>
  </c-col>
</c-row>

<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <table class="table">
          <thead>
            <tr>
              <th>Loại HTML</th>
              <th>Đối tượng HTML</th>
              <th>Đối tượng ảnh chụp</th>
              <th>Đầu việc</th>
              <th>Mã trạm</th>
              <th>Kết quả</th>
              <th>Độ chính xác</th>
              <th>Ảnh</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of transformedData">
              <td>{{ row.loaiHTML }}</td>
              <td>{{ row.doiTuongHTML }}</td>
              <td>{{ row.doiTuongAnh }}</td>
              <td>{{ row.dauViec }}</td>
              <td>{{ row.maTram }}</td>
              <td>{{ row.ketQua }}</td>
              <td>{{ row.doChinhXac }}</td>
              <td>
                <img 
                  src="./assets/images/image_icon.png" 
                  alt="Image" 
                  (click)="onImageClick(row)" 
                  style="width: 24px; height: 24px; cursor: pointer;" /> <!-- Adjust width and height -->
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12" class="text-end">
    <button class="btn btn-primary" (click)="exportReport()">Xuất báo cáo</button>
  </c-col>
</c-row>
