<div class="title-container text-center mb-4">
  <h1 class="title-text">Danh sách đối tượng HTML</h1>
</div>

<c-row>
  <c-col xs="12">
    <c-card class="mb-3">
      <c-card-body>
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 15%;">Loại HTML</th>
              <th style="width: 28%;">Đối tượng HTML</th>
              <th style="width: 28%;">Đối tượng ảnh chụp</th>
              <th style="width: 28%;">Đầu việc</th>
            </tr>
            <tr>
              <th style="padding: 0;">
                <select id="loaiHTML" [(ngModel)]="selectedFilters['loaiHTML']" class="filter-select" style="width: 100%;">
                  <option value="">All</option>
                  <option *ngFor="let option of filterOptions.loaiHTML" [value]="option">{{ option }}</option>
                </select>
              </th>
              <th style="padding: 0;">
                <select id="doiTuongHTML" [(ngModel)]="selectedFilters['doiTuongHTML']" class="filter-select" style="width: 100%;">
                  <option value="">All</option>
                  <option *ngFor="let option of filterOptions.doiTuongHTML" [value]="option">{{ option }}</option>
                </select>
              </th>
              <th style="padding: 0;">
                <select id="doiTuongAnhChup" [(ngModel)]="selectedFilters['doiTuongAnhChup']" class="filter-select" style="width: 100%;">
                  <option value="">All</option>
                  <option *ngFor="let option of filterOptions.doiTuongAnhChup" [value]="option">{{ option }}</option>
                </select>
              </th>
              <th style="padding: 0;">
                <select id="dauViec" [(ngModel)]="selectedFilters['dauViec']" class="filter-select" style="width: 100%;">
                  <option value="">All</option>
                  <option *ngFor="let option of filterOptions.dauViec" [value]="option">{{ option }}</option>
                </select>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of filteredData">
              <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ item['loaiHTML'] }}</td>
              <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ item['doiTuongHTML'] }}</td>
              <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ item['doiTuongAnhChup'] }}</td>
              <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ item['dauViec'] }}</td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
